html, body{
    height: 100%;
    width: 100%;
}
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {      /*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol , menu {
    list-style: none;       /*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;      /*合并外边线*/
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 14px;
    color: #666;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {        
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

.fl {
    float: left
}

.fr {
    float: right
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.hide {
    display: none
}

.pointer{
    cursor: pointer;
}

.body{

    .page-top{
        width: 100%;
        height: 78px;

        .top{
            width: 100%;
            position: fixed;
            z-index: 9999;
            background: #f0f0f0;
        }
    }

    .page-left{
        width: 190px;
        display: inline-block;

        .left{
            width: 190px;
            height: 100%;
            position: fixed;
        }

        .el-menu{
            height: 100%;

            >.el-menu-item, .el-submenu__title{
                height: 80px;
                line-height: 80px;

                .nav-icon{
                    background: url("../../assets/images/leftICON.png") no-repeat;
                    height: 22px;
                    width: 22px;
                    display: inline-block;
                    margin-right: 10px;
                    vertical-align: middle;

                    &.nav-icon1{
                        background-position: -47px -1px;
                    }

                    &.nav-icon2{
                        background-position: -47px -1px;
                    }

                    &.nav-icon3{
                        background-position: -47px -1px;
                    }

                    &.nav-icon4{
                        background-position: -47px -1px;
                    }
                    &.nav-icon5{
                        background-position: -47px -1px;
                    }

                    &.nav-icon6{
                        background-position: 0px -1px;
                    }
                }
            }


            .el-submenu{
                .el-menu-item-group{
                    .el-menu-item-group__title{
                        display: none;
                    }

                    >ul{
                        backgroumd:　#1f2732;

                        >.el-menu-item{
                            padding-left: 52px !important;
                            height:46px;
                            line-height: 46px;
                            font-size: 14px;
                            border-right: 2px solid transparent;
                            transition: all 1s;
                            &:hover{
                                background-color: rgba(96,163,255,.3);
                            }
                            &.is-active{
                                background-color: rgba(96,163,255,.1);
                                border-right-color: #60a3ff;
                            }
                        }
                    }

                }
            }
        }
    }

    .page-right{
        width: calc(100% - 200px);
        display: inline-block;
        vertical-align: top;

        .el-card.control-card{
            box-shadow: none;
            margin-top: 10px;

            &.no-padding{
                .el-card__body{
                    padding: 0px;
                }
            }

            .el-card__header{
                background: #f1f1f1;
                font-size: 18px;
            }

            &.graph-card{
                .el-card__body{
                    height: 348px;
                }
            }

            .el-card__body{

                //不能上下居中 overflow设置成auto就好了
                .el-input-number{
                    overflow: auto;
                }
            }

            &.tabs-card{
                .el-card__body{
                    height: 400px;
                }
            }
        }

        .el-tabs.control-tabs{
            border: none;

            .el-tabs__header{
                .el-tabs__nav{
                    float: right;
                }
            }
        }

        .manage-pagination{
            height: 28px;

            .btn-prev{
                padding-right: 10px;
                padding-left: 10px;
                margin-right: 20px;
                border-right: 1px solid #d1dbe5;
                border-radius: 2px;

                .el-icon::before{
                    content: '上一页';
                }
            }

            .btn-next{
                padding-right: 10px;
                padding-left: 10px;
                border-left: 1px solid #d1dbe5;
                border-radius: 2px;

                .el-icon::before{
                    content: '下一页';
                }
            }
        }

        .manage-form{
            padding: 20px;
            width: 80%;
            margin: auto;

            .el-form-item__content{
                width:  calc(100% - 100px);
            }
        }
    }

}
